{% extends 'base.html' %} {% block title %}Report{% endblock %} {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light container">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Smart Inven</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search' %}"
            >Search & Add Customers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'report' %}">Get Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'details' %}"
            ><i class="fa fa-gear"></i> Details</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %} {% block content %}
<div class="container">
  <div style="display: flex; justify-content: space-evenly" class="m-lg-4">
    <form class="d-flex" action="{% url 'report' %}" method="get">
      <label for="query" style="margin: 0px 5px;">From Date </label>
      <input
        class="form-control me-2"
        type="date"
        class="input"
        placeholder="From Date"
        name="query"
      />
      <label style="margin: 0px 5px;" for="query2">To Date </label>
      <input
        class="form-control me-2"
        type="date"
        class="input"
        placeholder="To Date"
        name="query2"
      />
      <button class="btn btn-outline-info" type="submit" style="width: 250px">
        <i class="fa fa-search"></i> Search
      </button>
    </form>
  </div>
  <div class="columns is-multiline mb-6">
    
    <table id="myTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Fee Got</th>
          <th scope="col">Remaining</th>
          <th scope="col">Month</th>
          <th scope="col">Recieving Date</th>
        </tr>
      </thead>
      <tbody>
        {% for fee in fee %}
        <tr>
          <td scope="row">{{fee.customer}}</td>
          <td scope="row">{{ fee.fee }}</td>
          <td scope="row">{{ fee.remaining_fee }}</td>
          <td scope="row">{{ fee.month }}</td>
          <td scope="row">{{ fee.given_on_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>

</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready( function () {
    $('#myTable').DataTable({
      dom: 'Bfrtip',  
      buttons: [ 'csv', 'excel' ]
    } );
} );
</script>
{% endblock %}