{% extends 'base.html' %} {% block title %}Search{% endblock %} {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light container">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Smart Inven</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'search' %}"
            >Search & Add Customers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search-and-print' %}"
            >Search & Print</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'report' %}">Get Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'monthly_report' %}"
            >Get Monthly Report</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'details' %}"
            ><i class="fa fa-gear"></i> Details</a
          >
        </li>
        {% if request.user.is_authenticated %} {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'area' %}">Areas</a>
        </li>
        <li class="nav-item" style="margin-right: 10px">
          <a class="btn btn-primary" href="{% url 'show_subusers' %}"
            >Subuser</a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %} {% block content %}
<div class="container">
  <div style="display: flex; justify-content: space-evenly" class="m-lg-4">
    <form class="d-flex" action="{% url 'search' %}" method="get">
      <input
        class="form-control me-2"
        type="text"
        class="input"
        placeholder="Search..."
        name="query"
      />
      <button class="btn btn-outline-info" type="submit" style="width: 150px">
        <i class="fa fa-search"></i> Search
      </button>
    </form>
    <a href="{% url 'addcustomer' %}" class="btn btn-primary"
      ><i class="fa fa-book"></i> Add Customer</a
    >
  </div>
  <div class="columns is-multiline mb-6">
    <div class="column is-12 has-text-centered mt-6 mb-6">
      <h3>Search term: "{{ query }}"</h3>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Customer</th>
          <th scope="col">Phone</th>
          <th scope="col">Customer ID</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr>
          <td scope="row">{{customer.name}}</td>
          <td scope="row">{{customer.phone}}</td>
          <td scope="row">{{customer.customer_id}}</td>
          {% if customer.customer_status == 'disabled' %}
          <td scope="row">
            <div
              class="btn btn-secondary disabled"
              href="{% url 'fee' customer.id %}"
              >Activate The Customer</div
            >
          </td>
          {% else %}
          <td scope="row">
            <a class="btn btn-primary" href="{% url 'fee' customer.id %}"
              ><i class="fa fa-add"></i> Add Fee/Payment</a
            >
          </td>
          {% endif %} {% comment %}
          <!-- 
          <td scope="row">
            <a class="btn btn-danger" href="{% url 'delete' customer.id %}"
              ><i class="fa fa-trash"></i> Delete Customer</a
            >
          </td>
          -->
          {% endcomment %}
          <td scope="row">
            <a class="btn btn-info" href="{% url 'edit_customer' customer.id %}"
              ><i class="fa fa-edit"></i> Edit Customer</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#checkbox").change(function () {
      $.post("/toggle/", {
        id: "{{workexperiance.id}}",
        isworking: this.checked,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      });
    });
  });
</script>
{% endblock %}
