<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
  </head>
  <style>
    table {
      border-collapse: collapse;
    }
    table th {
      border-right: 1px dashed black;
    }
    table th,
    table td {
      border-bottom: 1px solid black;
      padding: 5px 20px;
      border-collapse: collapse;
    }
    @media print and (width: 3in) {
      @page {
          margin: 1in;
      }
  }
  </style>
  <body
    style="display: flex; justify-content: center;align-items: center;"
    
  >
    <div id="select" style="max-width: 437px">
      <h3 style="text-align: center">{{ shopdetails.shop_name }}</h3>
      <p style="text-align: center;word-spacing: -1px;">{{ shopdetails.shop_contact }}</p>
      <p>
        ----------------------------------------------------------------------------------
      </p>
      <table style="text-align: left">
        <tr>
          <th>Customer's Name:</th>

          <td>{{ fee.customer.name }}</td>
        </tr>
        <tr>
          <th>Customer's ID:</th>

          <td>{{ fee.customer.customer_id }}</td>
        </tr>
        <tr>
          <th>Customer's Phone Number:</th>

          <td>{{ fee.customer.phone }}</td>
        </tr>
        <tr>
          <th>Customer's Address:</th>

          <td>{{ fee.customer.address }}</td>
        </tr>
        {% comment %} <tr>
          <th>Customer's Area:</th>

          <td>{{ fee.customer.area }}</td>
        </tr>
        <tr>
          <th>Customer's Sub-Area:</th>

          <td>{{ fee.customer.subarea }}</td>
        </tr> {% endcomment %}
        <tr>
          <th>Fee Month:</th>

          <td>{{ fee.month }}</td>
        </tr>
        <tr>
          <th>Fee Giving Date:</th>

          <td>{{ fee.given_on_date }}</td>
        </tr>
        <tr>
          <th>Fee Paid:</th>
          <td>Rs. {{ fee.fee_paid }}</td>
        </tr>
        <tr>
          <th>Debit:</th>

          <td>Rs. {{ fee.debit }}</td>
        </tr>
        <tr>
          <th>Credit:</th>

          <td>Rs. {{ fee.credit }}</td>
        </tr>
        <tr>
          <th>Cashier Name:</th>

          <td>{{ fee.taken_by }}</td>
        </tr>
      </table>
      <p>
        ----------------------------------------------------------------------------------
      </p>
      <div style="display: flex; align-items:center;">
        <div style="align-items: center;justify-content: center; display: flex; margin: 0px 15px"  >{{svg|safe}}</div>
        <p style="text-align: center; word-spacing: -1px;">{{ shopdetails.shop_details }}</p>
      </div>
      <p>
        ----------------------------------------------------------------------------------
      </p>
    </div>
    <script>
      function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
        //location.reload();
      }
      function goBack() {
        window.history.go(-1);
      }
    </script>
  </body>
</html>
